.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  color: #374151;
  background-color: #fff;
}
